.userData
{
    flex: 4;
}
.userTitleContainer
{
    padding: 3%;
}
.userTitleHeading
{

}
.createUserButton
{
    color: white;
    background-color: #5fc56a;
    border-radius: 5px;
    outline: none;
    border: 1px solid #5fc56a;
}
.userTitle 
{
    display: flex;
    justify-content: space-between;
}
.userDetailsWrapper
{
    
}
.userProfile
{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
    box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75);
-webkit-box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75);
-moz-box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75);
}
.userProfileImage
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}
.nameAndPositionContainer
{
    margin-left: 10px;
}
.userProfileName
{
    font-size: 1.3em;
}
.userDetailsWrapper
{
    display: flex;
    flex-wrap: wrap;
}
.userContent
{
  flex: 2; 
  margin-left: 20px;
  box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75);
-webkit-box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75);
-moz-box-shadow: 0px 0px 52px 0px rgba(221,221,221,0.75); 
}

